@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ededed;
    --foreground: #000;

    --primary: #84afe6;
    --primary-foreground: #000;

    --accent: #8a84e2;
    --accent-foreground: #000;

    --card: #fff;
    --card-foreground: #000;

    --input: #ededed;
    --input-foreground: #9da9b9;

    --muted: #575757;
    --muted-foreground: #ececec;
  }

  .dark {
    --background: #121212;
    --foreground: #e3e3e3;

    --primary: #7498c6;
    --primary-foreground: #000;

    --accent: #706bb8;
    --accent-foreground: #000;

    --card: #1e1e1e;
    --card-foreground: #e3e3e3;

    --input: #121212;
    --input-foreground: #9da9b9;

    --muted: #575757;
    --muted-foreground: #ececec;
  }
}

@layer components {
  /* typography */
  .title-1 {
    @apply font-[700] text-[1rem];
  }
  .title-2 {
    @apply font-[700] text-[1rem] uppercase;
  }
  .title-3 {
    @apply font-[400] text-base;
  }
  .description {
    @apply font-[400] italic text-sm;
  }
  .text {
    @apply font-[400] text-base;
  }

  /* buttons */
  .activity {
    @apply bg-primary hover:bg-accent;
  }
  .highlight {
    @apply bg-accent hover:bg-primary;
  }
}

body {
  @apply bg-background text-foreground font-open-sans;
}
